/* Fonts loaded via Google Fonts CDN */

.error-404 {
  font-family: 'Racing Sans One', cursive;
  font-size: 180px;
  text-align: center;
}

.p-404 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}
