@font-face {
  font-family: circular;
  src: url(Circular-Std-Font.otf);
}

@font-face {
  font-family: roboto_bold;
  src: url(RobotoCondensed-Bold.ttf);
}

.nav-text {
  font-family: roboto_bold;
  font-weight: bold;
  font-size: 25px;
}

.nav-app {
  padding-bottom: 20px;
}

.hello-text {
  padding-right: 25px;
}

.logout-button {
  background-color: white;
  color: black;
  font-family: roboto-bold;
  text-align: center;
  font-size: 22px;
}

.logout-button:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
}
