.card {
  vertical-align: middle;
  justify-content: flex-start;
}

.staff-card-title {
  font-weight: bold;
  padding: 15px;
}

.staff-card-text {
  padding: 0px 15px 5px 15px;
}

.staff-card-img-cust {
  min-height: 100%;
  max-height: 600px;
  width: 100%;
}
