@font-face {
  font-family: roboto-regular;
  src: url("/src/app/common/fonts/RobotoCondensed-Regular.ttf");
}

.school-table {
  font-family: roboto_regular;
  min-width: 300px;
  max-width: 300px;
}

.school-table-td {
  text-align: left;
  min-width: 200px;
  max-width: 200px;
}
.school-table-th {
  text-align: left;
}
.school-table-tr {
  text-align: Left;
}

/* Schools Page Container */
.schools-page-container {
  width: auto;
  align-items: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

/* School Region Table */
.school-region-box {
  padding-bottom: 1rem;
}

.school-grid-container {
  padding-bottom: 1rem;
}

.school-divider {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}