/* Material Table Component Styles */
.material-table-paper {
  overflow: hidden;
}

.material-table {
  min-width: 550px;
}

.material-table-head-cell {
  background-color: #800000;
  color: white;
  font-size: 14px;
  font-family: Baloo, sans-serif;
  text-align: center;
}

.material-table-body-cell {
  font-size: 14px;
  font-family: Baloo, sans-serif;
  text-align: center;
}

.material-table-row-odd {
  background-color: #D3D3D3;
}

