@font-face {
  font-family: roboto-regular;
  src: url("/src/app/common/fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: gagalin;
  src: url("/src/app/common/fonts/Gagalin-Regular.otf");
}

.wrestler-table {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-home {
  font-family: gagalin;
  color: black;
  display: inline;
  font-size: 80px;
  padding: 25px 0px 50px 0px;
}
