/* Subheader Component Styles */
.subheader-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.subheader-chip {
    font-family: Baloo, sans-serif !important;
    background-color: black !important;
    color: white !important;
    font-size: 18px !important;
    font-weight: 600;
    border-radius: 16px;
    padding: 10px 16px;
    height: auto !important;
}
