@font-face {
  font-family: roboto-regular;
  src: url("/src/app/common/fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: gagalin;
  src: url("/src/app/common/fonts/Gagalin-Regular.otf");
}

.record-table {
  font-family: roboto-regular;
}

.record-td,
.record-th,
.record-tr {
  text-align: center;
  font-family: roboto-regular;
}

.form-img {
  height: 50px;
  width: 50px;
}

/* Records Page Container */
.records-page-container {
  width: auto;
  align-items: center;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}

/* Records Table - Career Row Bold */
.record-career-text {
  color: black;
  font-size: 16px;
  font-family: Baloo-Bold, sans-serif;
}

/* Records Form Indicator */
.record-form-box {
  display: flex;
  justify-content: center;
  align-items: center;
}